# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# vim 临时文件
*~
*.swp
*.swo
*.dSYM
a.out
tags

# nginx 目录
html
logs
sbin

# mac 临时目录
.DS_Store
